{% extends "base.html" %}

{% block title %}UEFA{% endblock %}

{% block content %}

<div class="container">
  <h1>UEFA Page</h1>
  <div class="row">

    <div class="col-md-8">
      <h2>Script settings</h2>
      <form action="{{ url_for('run_uefa_script_form') }}" method="post">
        <label for="email" class="form-labe mb-0l">UEFA User email:</label><br>
        <input type="email" id="uefa_user_email" name="email" class="form-control" placeholder="name@example.com"><br>
        <label for="password" class="form-label mb-0">UEFA User password:</label><br>
        <input type="password" id="uefa_user_password" name="password" class="form-control"><br>
        <input type="submit" class="btn btn-success" value="Run uefa script">
        <hr>
        <div>
          <h3>Status last task: <span id="status-container">_____ #TODO</span></h3>
        </div>

        <div>
          <h3>The last screenshot</h3>
          <div id="screen-container">
            <p>Loading screenshot...</p>
          </div>
        </div>

        <div>
          <h3>Last task logs</h3>
          <div id="log-container">
            <p>Loading logs...</p>
          </div>
        </div>
        <hr>
      </form>
    </div>
    <div class="col-md-4">
      <h2>Available session: {{ available_session }}</h2>
      <hr>
      <h3>Add new sessions</h3>
      <form action="{{ url_for('add_session_form') }}" method="post">
        <label for="proxy_user" class="form-label mb-0">Proxy User:</label><br>
        <input type="text" id="proxy_user" name="proxy_user" class="form-control"><br>
        <label for="proxy_host" class="form-label mb-0">Proxy Host:</label><br>
        <input type="text" id="proxy_host" name="proxy_host" class="form-control"><br>
        <label for="proxy_port" class="form-label mb-0">Proxy Port:</label><br>
        <input type="text" id="proxy_port" name="proxy_port" class="form-control"><br>
        <label for="ip" class="form-label mb-0">IP Address:</label><br>
        <input type="text" id="ip" name="ip" class="form-control"><br>
        <label for="data_dome_cookie" class="form-label mb-0">Data Dome Cookie:</label><br>
        <input type="text" id="data_dome_cookie" name="data_dome_cookie" class="form-control"><br><br>
        <input type="submit" class="btn btn-secondary" value="Add new session">
      </form>
    </div>
  </div>
</div>

<script>
    async function fetchLogs() {
        const response = await fetch('/api/v1/uefa/get_logs');
        const logs = await response.json();

        const logContainer = document.getElementById('log-container');
        logContainer.innerHTML = '';

        logs.forEach(log => {
            const logElement = document.createElement('p');
            logElement.textContent = log.text;
            logContainer.appendChild(logElement);
        });
    }

    // Fetch logs initially
    fetchLogs();

    // Fetch logs every 10 seconds
    setInterval(fetchLogs, 10000);

    async function fetchScreenshot() {
        const response = await fetch('/api/v1/uefa/get_last_screenshot');

        if (response.ok) {
            const blob = await response.blob();
            const url = URL.createObjectURL(blob);

            const screenContainer = document.getElementById('screen-container');
            screenContainer.innerHTML = ''; // Clear any previous content

            const imgElement = document.createElement('img');
            imgElement.src = url;
            imgElement.alt = 'Latest Screenshot';
            imgElement.style.maxWidth = '100%'; // Ensure the image fits the container

            screenContainer.appendChild(imgElement);
        } else {
            console.error('Failed to fetch the screenshot:', response.status, response.statusText);
        }
    }

    // Fetch screenshot initially
    fetchScreenshot();

    // Fetch screenshot every 10 seconds
    setInterval(fetchScreenshot, 10000);





    async function fetchStatus() {
        const response = await fetch('/api/v1/uefa/get_task_status');
        const status = await response.json();

        const StatusContainer = document.getElementById('status-container');
        StatusContainer.innerHTML = '';

        const StatusElement = document.createElement('span');
        StatusElement.textContent = status;
        StatusContainer.appendChild(StatusElement);

    }

    // Fetch status initially
    fetchStatus();

    // Fetch status every 10 seconds
    setInterval(fetchStatus, 10000);





</script>

{% endblock %}
